.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
}

.navbar .logo img {
  width: 100px;
}

.navbar .nav-links {
  list-style: none;
  display: flex;
  margin: 0;
}

.navbar .nav-links li {
  padding: 0 15px;
}

.navbar .nav-links li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease-in-out;
}

.navbar .nav-links li a:hover {
  color: #ddd;
}

.menu-icon {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

@media (max-width: 550px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #333;
    width: 200px;
    border-radius: 5px;
  }

  .nav-links li {
    padding: 10px 0;
    text-align: center;
  }

  .nav-links li a {
    padding: 10px;
    display: block;
  }

  .menu-icon {
    display: block;
  }

  .nav-links.active {
    display: flex;
  }
}
