.workout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 80%;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.workout > h1 {
  color: transparent;
}

.workout::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../../public/images/workout-schedule.jpg") no-repeat center
    center;
  background-size: cover;
  filter: brightness(40%);
  z-index: -1;
}

.workout-carousel,
.carousel,
.carousel-slider {
  margin: 35px auto;
  max-width: 600px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
  border-radius: 20px;
}

.beforeAfter,
.workout-data {
  background-color: rgba(156, 156, 156, 0.5);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
}

.survey-button {
  width: 15vh;
}

.beforeAfter img,
.workout-data img {
  max-width: 33%;
  height: 35%;
  margin-bottom: 30px;
  border: 6px double #000 !important;
  box-shadow: 0 0px 20px rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  padding: 20px;
  /* background-color: #464646; */
  background: radial-gradient(circle, #696969 0%, #3b3b3b 100%);
}
