.workout{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 70%;
    max-width: 800px;
    margin: 0 auto;
}

.workout-data {
    background-color: white;
    border: 1px solid black;
    padding: 16px;
    margin: 8px 0;
    border-radius: 4px;
    width: 18rem;
    align-items: center;
    justify-content: center;
}
.container{
    gap: 16px;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: 1fr;
}
.beforeAfter{
    background-color: white;
    border: 1px solid black;
    padding: 16px;
    margin: 10px 0;
    border-radius: 4px;
    width: 10rem;
    align-items: center;
    justify-content: center;
}
.space{
    margin-top: 10px;
}